body {
  background-color: #6397aa0f;
}

.modal {
    width: 35%;
}

.mn-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /* background-color: black !important; */
  /* text-align: center; */
}

.mn-logo {
  margin-top: 40px;
}

.mn-footer-logos {
  float: right;
  margin-left: 10px;
}

.mn-menu {
  background-color: black;
}

.mn-feature-selection:hover {
  background-color: black !important;
  color: white !important;
}

.mn-container {
  margin-top: 10rem;
}

.mn-input:focus {
  border-bottom: 1px solid #000000 !important;
  box-shadow: 0 1px 0 0 #000000 !important;
}

.progress {
  background-color: #dfdfdf;
}

.progress .indeterminate {
  background-color: #040404bd;
}
