.mn-menu {
    background-color: black;
}

.mn-feature-selection:hover {
    background-color: black !important;
    color: white !important;
}

.mn-container {
    margin-top: 50px;
}

.mn-input:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #000000 !important;
}